APOLLO_SEARCH_PROVIDER=auto
APOLLO_MAX_RESULTS=8
APOLLO_FRONTEND_ORIGIN=http://localhost:5173
APOLLO_TAVILY_API_KEY=
APOLLO_REVIEW_AGENT_DIR=/Users/leusteanstefan/Desktop/test
APOLLO_REVIEW_ADVANCED_SEARCH=false
APOLLO_LOG_LEVEL=INFO
